server:
  api: "localhost:4000"
  debug: "localhost:4010"
  readTimeout: "5s"
  writeTimeout: "10s"
  idleTimeout: "120s"
  shutdownTimeout: "20s"
  corsAllowedOrigins: "*"
db:
  name: "housi_db"
  user: "housi"
  password: "secret123"
  host: "localhost:5432"
  maxOpenConnections: "25"
  maxIdleConnections: "25"
  connectionIdleTime: "30s"
  disableTLS: true
auth:
  keysFolder: "keys/"
kafka:
  brokers: "localhost:19092,localhost:29092,localhost:39092"
  addressFamily: "v4"
  securityProtocol: "PLAINTEXT"
  logLevel: "7"
  maxMessageBytes: "5000000"
  SessionTimeout: "45000"
tempo:
  host: "localhost:4317"
  serviceName: "backend-system"
  probability: "0.05"
